
{% macro enabledDisabled(isEnabled, label) %}
    {% if isEnabled %}
        <span class="label label-success">{{ label|default('enabled') }}</span>
    {% else %}
        <span class="label label-danger">{{ label|default('disabled') }}</span>
    {% endif %}
{% endmacro %}

{% macro gender(value, label) %}
    {% if value == 2 %}
        <span class="label label-info">{{ label|default('male') }}</span>
    {% else %}
        <span class="label label-info">{{ label|default('female') }}</span>
    {% endif %}
{% endmacro %}
