{% extends '@layout/Main.twig' %}

{% block page %}

    {% include '@common/Header/Header.twig' %}

    <div class="container">
        {% block content %}{% endblock %}

        {% include '@common/Footer/Footer.twig'%}
    </div>


{% endblock %}
