{% extends '@common/Frame/Normal.twig' %}

{% block page_title %}{{ meta.title }} | Home{% endblock %}
{% block og_title %}{{ meta.title }} | Home{% endblock %}

{% block content %}

    <h1>Eureka Application - Template</h1>
    <p>
        This is the Eureka Application Template to start new Web application.
    </p>

{% endblock %}
