{% extends '@common/Frame/Normal.twig' %}

{% block page_title %}{{ meta.title }} | Home{% endblock %}
{% block og_title %}{{ meta.title }} | Home{% endblock %}

{% block content %}

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Eureka Application - Template</h1>
                <p class="lead">This is the Eureka Application Template to start new Web application.</p>
            </div>
        </div>
    </div>

{% endblock %}
