{% extends '@common/Frame/Normal.twig' %}

{% block page_title %}{{ meta.title }} | Home{% endblock %}
{% block og_title %}{{ meta.title }} | Home{% endblock %}

{% block content %}

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>{{ meta.title }}</h1>
                <p class="lead">Application qui recense les chiffres officiels sur la France</p>
            </div>
        </div>
    </div>

{% endblock %}
